@{
    ViewBag.Title = "Home";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Home</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <p>David McEleney - Candidate for the Senior .NET developer role. </p>
                <p>Please select an option from the menu above.</p>
            </div>
        </div>
    </div>
</section>
