@{
    ViewBag.Title = "Settled";
}

<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Settled</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Details of Settled bets..</p>
            </div>
        </div>
    </div>
</section>
