@model List<int>
@{
    ViewBag.Title = "Settled Bets";
}

<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Settled Bets</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>The Following Customers (Ids), have been have had > 60% win rate.</p>
                <ul>
                    @foreach (var customerId in Model)
                    {
                        <li>@customerId</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
